/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

input, select, option, optgroup, textarea, button,
pre, code {
    font-size: 100%;
    font-family: inherit;
}

ol, ul {
    list-style: none;
}

/* Main css */

:root {
    --dark-gray: #444444;
}

h1 {
    font-size: 25px;
}

header h1 {
    text-align: center;
    background-color: var(--dark-gray);
    color: white;
    font-size: 30px;
}

.searchTitle {
    font-size: 20px;
}

.btn-info {
    background-color: #007FFF;
}

.input-group {
    width: 75%;
}

#currentInfo {
    border-width: 3px;
}

.forecastTitle {
    font-size: 20px;
    font-weight: 600;
}

.card {
    background-color: #007FFF;
    color: white;
}

img {
    max-width: 50px;
}